.vs/
.idea/
*.user

.DS_Store
Thumbs.db
Thumbs.db.meta

SkyHorror/*.csproj
SkyHorror/*.sln
SkyHorror/Logs
SkyHorror/obj
SkyHorror/Library/
SkyHorror/Temp
SkyHorror/Assets/Plugins/Editor/JetBrains
SkyHorror/Assets/Plugins/Editor/JetBrains.meta
